@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
body{
    background-color: #d1d1d5;
    overflow-y: hidden;
}
li, a{
    font-family: "Montserrat", sans-serif;
    
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
h3{
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 32px;
    color: #edf0f1;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    background-color: #1b1c34;
    border: none;
}
figure{
    display: flex;
    flex-direction: row;
    
}
.logo{
    cursor: pointer;
    height: 61.25px;
    width: 66.25px;
}

.navlinks{
    list-style: none;
}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a{
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover{
    color:#04f5c7;
}

.container{
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    overflow-x: scroll;
    position: relative;
}

section{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
}

.sec1{
    background-image: url(../imgs/bunny.jpg);
    background-position: center;
    position: relative;
}
.sec2{
    background-image: url(../imgs/foof.jpeg);
    background-position: center;
    position: relative;
}

.sec3{
    background-image: url(../imgs/SHM.jpg);
    background-position: center;
    position: relative;
}

.sec4{
    background-image: url(../imgs/she.png);
    
    position: relative;
}

.sec5{
    background-image: url(../imgs/top.jpg);
    background-position: right;
    position: relative;
}

.sec6{
    background-image: url(../imgs/san.jpg);
    background-position: center;
    position: relative;
}

.incontainer{
    position: absolute;
    background-color: black;
    top: 15vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 80vh;
    width: 60vw;
    border-radius: 5px;
    opacity: 0.8;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;

}

.description{
    position: relative;
    top: 20%;
    height: 100%;
    width: 50%;
    opacity: none;
}

.in{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 50px;
    margin-left: 25px;
}

.soundcloud{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: auto;
}
h4{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: 35px;
    margin-left: 25px;
}
.sundimg{
    margin-top: 5px;
    width: 120px;
    height: 80px;
}

.buttons{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 300px;
    padding: 10px;
    padding-top:5px ;
    padding-bottom: 5px;
    height: auto;
    opacity:none;
    border: none;
    background-color: #04f5c7;
    color: black;
    border-radius: 5px;
    
}

input:hover{
    transform: scale(1.1);
    background-color: #01c4ff;
  }

.login{
    margin-bottom: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: black;
    font-size: 28px;
    
}

.sign{
    margin-top: 60x;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: black;
    font-size: 28px;
}