/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root{
  --nav-width: 92px;

  /*===== Colores =====*/
  --first-color: #0ca692;
  --bg-color: #1b1c34;
  --sub-color: #B6CEFC;
  --white-color: #FFF;
  
  /*===== Fuente y tipografia =====*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-weight: 600;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}


/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  padding: 2rem 0 0 6.75rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  background: #d1d1d5;
  
}
h3{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}

/*===== l NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 1.5rem 1.5rem 2rem;
  transition: .5s;
  z-index: var(--z-fixed);
}

/*===== NAV =====*/
.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav__brand{
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.nav__toggle{
  font-size: 1.25rem;
  padding: .75rem;
  cursor: pointer;
}
.nav__logo{
  color: var(--white-color);
  font-weight: 600;
}

.nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: .75rem;
  padding: .75rem;
  color: var(--white-color);
  border-radius: .5rem;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
}
.nav__link:hover{
  background-color: var(--first-color);
}
.nav__icon{
  font-size: 1.25rem;
}
.nav__name{
  font-size: var(--small-font-size);
}

/*Expander menu*/
.expander{
  width: calc(var(--nav-width) + 9.25rem);
}

/*Add padding body*/
.body-pd{
  padding: 2rem 0 0 16rem;
}

/*Active links menu*/
.active{
  background-color: var(--first-color);
}

/*===== COLLAPSE =====*/
.collapse{
  grid-template-columns: 20px max-content 1fr;
}
.collapse__link{
  justify-self: flex-end;
  transition: .5s;
}
.collapse__menu{
  display: none;
  padding: .75rem 2.25rem;
}
.collapse__sublink{
  color: var(--sub-color);
  font-size: var(--small-font-size);
}
.collapse__sublink:hover{
  color: var(--white-color);
}

/*Show collapse*/
.showCollapse{
  display: block;
}

/*Rotate icon*/
.rotate{
  transform: rotate(180deg);
}

form{
    display: flex;
    flex-direction: row;
    position:relative;
}

.search{
    background: #e6efff;
    border: none;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    outline: none;
    width: 250px;
    height: 30px;
    margin-left: 1vw;
    margin-right: 1vw;
}

.search:hover{
    background-color: #d1d1d5;
}

input::-webkit-input-placeholder {
    color: #AAA;
    padding-left: 15px;
  }
  
input:focus::-webkit-input-placeholder {
    color: #1b1c34;
  }
  
input:focus+.underline {
    transform: scale(1);
  }

.spanny{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}
  
.underline {
    background-color: #1b1c34;
    display: inline-block;
    height: 2px;
    margin-top: -4px;
    position:  relative;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 250px;
  }

.search_button{
    background-color: transparent;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    outline: none;
    border-radius: 2px;
    height: 30px;
}

.search_button:hover{
    background-color: #1b1c34;
    color:white;

}

.body{
    width: 72vw;
    height: 40px;
    margin-top: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user_nav{
    background: #1b1c34;
    height: 100vh;
    width: 20vw;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    align-items: center;

}

#person{
    color: white;
    width: 70px;
    height: 70px;
    position: relative;
}

.nav__name{
    color: white;
    position: relative;
}

.inside{
    background-color:#728c9c;
    width: 81vw;
    height: 80vw;
    margin-left: -1vw;
    position: fixed;
    left: 0;
    top: 10vh;
    
}

.player{
    background-color:  #d1d1d5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 80vw;
    height: 100px;
}